http://jellyfin.worldline.local {
  reverse_proxy 127.0.0.1:8096
}

http://jellyseerr.worldline.local {
  reverse_proxy 127.0.0.1:5055
}

http://komga.worldline.local {
  reverse_proxy 127.0.0.1:25600
}

http://prowlarr.worldline.local {
  reverse_proxy 127.0.0.1:9696
}

http://radarr-anime.worldline.local {
  reverse_proxy 127.0.0.1:7879
}

http://radarr.worldline.local {
  reverse_proxy 127.0.0.1:7878
}

http://sonarr-anime.worldline.local {
  reverse_proxy 127.0.0.1:8990
}

http://sonarr.worldline.local {
  reverse_proxy 127.0.0.1:8989
}

http://transmission.worldline.local {
  reverse_proxy 127.0.0.1:9091
}

http://whisparr.worldline.local {
  reverse_proxy 127.0.0.1:6969
}
